/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.slide-img-resp {visibility: hidden; display: none; height:0;}

.carousel-item {  }

.carousel-control-next, .carousel-control-prev {width:auto;}

/* Carousel base class */
.carousel {max-width: 1920px; margin: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: relative;
  padding-top: 150px;	
  width:40%;	
  z-index: 10;
  left: 5%;
}
.carousel-caption-inner {
}

.carousel-caption-inside {  
  z-index: 10;
  position: absolute;
  top: 45%;
  left:0;	 
  padding: 5px 40px;	
  text-align: left!important;
}

.carousel-caption-inside .carousel-caption-h1 {padding-bottom:0!important; line-height: 130%;}

.carousel-caption-h1 {font-size:47px; color:#fff; font-weight: 600; text-align: center;}
.carousel-caption-h2 {font-size:24px; color:#fff; font-weight: 500; text-align: center; }
.carousel-caption-inside .carousel-caption-h1 {color:#fff;}

.carousel-caption-cta {padding: 50px 0 20px 0; text-align: center; margin-top: 30px; display: inline-flex;}
.carousel-caption-cta-dbl {/*float:left; width:50%;*/ width:100%; text-align: center; margin-bottom: 60px; }
.carousel-caption-cta-1 {text-transform: uppercase!important; background: #00bce4 ; padding:15px 30px; color:#fff!important; font-size: 30px; font-weight: 600; border: none;border: 1px solid #00bce4 ; }
.carousel-caption-cta-1:hover {background: #fff!important; color:#00bce4!important; border: 1px solid #fff;}
.carousel-caption-cta-2 {text-transform: uppercase!important; background: #fff; padding:20px 20px; color:#3a3a3a!important; font-size: 23px; font-weight: 600;  border: 1px solid #3a3a3a; }
.carousel-caption-cta-2:hover {background: #3a3a3a!important; color:#fff!important;}

.carousel-indicators {bottom: 2px;}
.carousel-indicators li {
  width: 18px;
  height: 18px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 100%; border: 1px solid #fff;
  list-style-type: none;
  background-color: inherit;
}
.carousel-indicators .active {
    background-color: #fff!important;
}

.carousel-control-next-icon, .carousel-control-prev-icon { width: 40px; height: 40px;}

@keyframes pulseColor2 {
  0% {
    color: rgba(58,58,58,0.60);
  }
  100% {
    color: #3a3a3a;
  }  
  	  
}

@keyframes pulseColor1 {
  0% {
    background-color: #00a1bc;
  }  
  100% {
    background-color: rgba(0,161,188,0.60);
  }	  
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 889px;
  background-color: #fff;
}
.carousel-item > img {
  position: absolute;
  bottom: 0;
  right:0;
  top: 210px;
}


.inside-page .carousel-item {
  height: 223px;
}
.inside-page .carousel-item > img {top: 0; height: 223px; left: 0; width: 100%;}

.inside-page  .carousel-item {background: none;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
