
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Open Sans', Arial,Verdana,sans-serif; padding-bottom: 0;
   margin-bottom: 250px; /* Margin bottom to match footer height */
}
main {/*top: 210px; position: relative;*/}
header {height:210px;}

article, aside, figcaption, figure, footer, header, hgroup, main, section {overflow:hidden;}

a, a:active, a:visited {text-decoration: none!important;}	
.container .blog-post a, .container .blog-post a:active, .container .blog-post a:visited {text-decoration: none!important; color:#112649;; font-weight: 600; font-size: 15px;}	
.container .blog-post a:hover {color:#848484;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; max-width: 100%; height: auto!important; }
.container .blog-post a img { border: none;}

.container .blog-post p {font-size: 17px; font-weight: 500; line-height: 150%;}
.container .blog-post h1 {font-size:28px; color:#112649; font-weight: 600; /*padding-bottom: 10px;*/}
.container .blog-post h2 { color: #112649; font-weight: 600; font-size: 20px; line-height: 150%; padding: 5px 0 5px 0; margin-top: 30px;}
.container .blog-post h3 { color: #4f4f4f; font-weight: 600; font-size: 17px; line-height: 110%; padding: 10px 0 10px 0; }
.container .blog-post h4 { color: #4f4f4f; font-size:17px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 600; text-transform:uppercase;}
.container .blog-post h5 { color: #4f4f4f; font-weight: 600; font-size: 17px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 1px solid #474747;}

.container .blog-post .disclaimer {padding:10px 0;}
.container .blog-post .disclaimer, .container .blog-post .disclaimer p { font-size: 12px!important; color:#8aa6b5!important;}

.container .blog-post ul {padding-left: 15px;}
.container .blog-post ul li { color:#474747; padding-left: 16px; margin-bottom: 10px;font-size: 17px; font-weight: 500; list-style-type: none; line-height: 150%;}
.container .blog-post ul li a {font-size: 17px!important}

.container .blog-post ul li::before {
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 45px;
    color: #4f4f4f;
    font-size: 9px;
    margin-top: 0px;
    display: inline-block;
    font-weight: 900;
    /*margin-left: 15px;*/
}

.container .blog-post ol li { color:#4f4f4f; padding-left: 16px; margin-bottom: 10px; font-size: 17px; font-weight: 500; line-height: 150%;}
.container .blog-post ol li ul {margin-top:10px;}
.container .blog-post ol li ul li {list-style-type:inherit;}
.container .blog-post ol li ul li::before {content:"";}
.container .blog-post ol li p {margin-top:10px;}

.container .blog-post blockquote {
    color: #5ecdd3;
    font-size: 17px;
    font-weight: 700;
    padding: 0;	
	border-left:2px solid #4f4f4f;	
}
	
.container .blog-post blockquote p {
    color: #4f4f4f;
    font-size: 17px;
	padding-left:20px;
    font-weight: 600;
}

.panelMax {max-width: 1920px; margin: auto; width: 100%;}
.blog-post {padding: 40px 10px;}
.blog-main {margin:0 auto;}
.blog-masthead {padding:0; min-height: 500px;}
.blog-masthead .container {}
.blog-sidebar {padding-top:40px; padding-left:0;}
.blog-sidebar h2 {color: #112649;font-weight: 600; font-size:17px; margin-bottom:0!important;}

#contact-form {padding-bottom: 30px;}

.video {border: 20px solid #dddddd;}
.video iframe {width:100%;}

.slide-img-resp {visibility: hidden; display:none; height:0;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
AFFIX
**************************/
.affix .navbar-custom {
    height: 54px!important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}
.affix {height:110px!important;}
.affix .navbar-logo {top: 0px; position: absolute;}
.affix .navbar-logo img{ height: 40px;position: absolute; top: 9px; left: 30px; }
.affix .navbar-top { top: 5px; /*right: 80px;*/ }
.affix .logo-lg {visibility: hidden; display: none; height:0;}
.affix .logo-sm {visibility: visible; display: block; height:auto; }
.affix .navbar-top {top:0;}
.affix .navbar-collapse {top:56px;}

/**************************
NAVBAR
**************************/
.navbar-custom {height:258px; background-color:#fff!important; padding: 0; 	
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;}

.navbar-top {position:absolute; top:10px; right: 10px; }

.navbar-collapse {border-top: 1px solid #dddddd;}

.navbar-contacts .contact-icon{
    margin-right: 20px;
}

.mr-auto, .mx-auto {margin:auto;}

.navbar-expand-lg .navbar-nav .nav-link {margin: 0 80px; padding:10px 0;}
.dropdown-menu {/*margin-left: 70px;*/}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#ff6903;}
.dropdown-item {background:#fff;}

.hamburger {padding:5px 0 0 10px !important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#112649!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

button:focus {outline: none;}

.contact-phone-resp {display:none; visibility: hidden; height:0;}
.contact-phone-resp i {color:#112649; font-size: 25px;}

.divMap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

/**************************
VIDEO
**************************/
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 40px 0; width:100%; text-align: center;}
.logo-sm {visibility: hidden; display: none; height:0;}

/**************************
NAVBAR - BOOKINGS
**************************/
.navbar-booking {padding:0 10px; /*position: relative; display: inline-block; right: 80px; top: 10px; */}

.btn-booking {text-transform: uppercase!important; background: #ff6903!important; padding:10px 15px !important; color:#fff!important; font-size: 20px; font-weight: 600; border: none; width: 100%; border: 1px solid #ff6903!important; -webkit-box-shadow: none!important; box-shadow:none!important; border-radius: 0px!important;}
.btn-booking:hover {background: #fff!important; color:#ff6903!important;}


.navbar-booking-mobile {display:none; visibility: hidden; height: 0; background:#ff6903;}
.btn-booking-mobile { position: absolute; top:3px; left: 40px;  text-transform: uppercase; color:#fff; font-weight: 600; font-size: 18px; padding:2px 40px!important;  border: 2px solid #fff;}
.btn-booking-mobile:hover > a {color:#ff6903; background-color:#fff;}

.navbar-booking-mobile i {color:#fff; font-size: 20px;}
.navbar-booking-mobile .contact-icon {position: absolute; top:0px; right: 70px; }
.navbar-booking-mobile .phone-icon {position: absolute; top:0px; right: 20px;}

/************************************************
NAVBAR - Accessibility
************************************************/
.navbar-resizer {color:#919191; font-size: 16px; float:left; /*padding: 20px 40px 0 0;*/ position: relative; top: 20px; right: 30px;}
.fontsizer-txt {float:left; padding-top: 3px; padding-right: 10px;}
.fontsizer {float:right;}

.fsizer { display: block; width: 100%; float: right; padding: 0; clear: both;} /* Container element */

.fsizer a { /*display: inline-block;*/  width: 25px; margin-left: 5px; text-align: center; border: 1px solid #39526E; color: #fff; text-decoration: none; cursor: pointer; letter-spacing: 0; line-height: 130%; padding: 3px; }
.fsizer a:hover { text-decoration: none; color: #000!important; }

/* Three 'A' links used to control size */
.fsizer a#fs_sml { font-size: 0.75em; color: #999999; background: #fff; /*height: 17px; padding-top: 3px; background-color:#002B54; color:#fff;*/ }
.fsizer a#fs_med { font-size:17px; font-weight: 700;color: #919191; border:none; padding: 0 3px!important; margin: 0!important; /*height: 17px; padding-top: 3px; background-color:#002B54; color:#fff;*/ }
.fsizer a#fs_lrg { font-size: 20px; font-weight: 700; color: #919191; border:none; padding: 0 3px!important; margin: 0!important;/*height: 18px; padding-top: 2px; background-color:#002B54; color:#fff;*/ }
.fsizer a.fsactive { color: #000!important; cursor: default;} /* When mode is active */

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {position: relative; top: 10px; right: 35px; display: inline-block;}
.navbar-contacts a {color: #ff6903; text-decoration: none; padding:0; font-weight: 600; font-size: 29px;}
.navbar-contacts a:hover {color: #00a1bc;}

.navbar-contacts a i {font-size: 22px; position: relative; top: -2px;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0 10px;}
.navbar-members a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-members a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {width: 100%; background: #fff; padding: 80px 0; text-align: center;}
.home-intro .container {max-width: 1400px;}

.home-intro h2 {font-size:20px; font-weight: 600; text-transform: uppercase; color:#00a1bc; padding-top: 70px;}
.home-intro h1 {font-size:40px; font-weight: 500; color:#00a1bc; padding: 0 0 20px 0; }
.home-intro p {font-size:20px; color:#231f20; padding-bottom: 12px;}

.home-booking {margin:40px 0;}

.img-doctors {display:none; visibility: hidden; height: 0; padding: 0 !important; opacity: 0;  transition: opacity 8s ease;}
.img-doctors .img-doctor1 {width:50%; float:left;}
.img-doctors .img-doctor2 {width:50%; float:right;}
.img-doctors div img {text-align: left; width:100%;}
.img-doctors .img-doctor2 img {float: right;}
.img-doctor img  {max-width: 100%; position: absolute; left:0; bottom: 0;}
.img-doctor-right img {right:0; left:auto;}

.img-doctor {opacity: 0;  transition: opacity 8s ease;}

.is-visible {opacity: 1!important;}

.home-intro-img img {}
.home-intro-txt {color:#474747; text-align: center; font-size:24px; font-weight: 500; padding: 10px 0;}

.home-intro-booking {padding-top: 60px;}
.home-intro-booking .btn-booking {
    background: #00bce4!important;
    padding: 15px 30px !important;
    color: #fff !important;
    border: 1px solid #00bce4!important;   
	width:auto;
	font-size: 30px;
    letter-spacing: 1px;
}
.home-intro-booking .btn-booking:hover {background: #fff!important; color:#00bce4!important; border: 1px solid #00bce4!important;}

.home-intro-num {font-size: 40px; font-weight: 600; color:#474747;}

.home-intro1 {width: 100%; background: #fff; padding: 0; text-align: center; padding-top: 50px;}
.home-intro1 .container {max-width: 100%;}

.home-intro1 h2 {font-size:20px; font-weight: 600; text-transform: uppercase; color:#00a1bc; padding-top: 0px;}
.home-intro1 h1 {font-size:40px; font-weight: 500; color:#231f20; padding: 0 0 20px 0; }
.home-intro1 p {font-size:20px; color:#231f20; padding-bottom: 12px;}
.home-intro1 .img-doctor img  {max-height:80%!important; width:auto!important; max-width:auto!important;}

.home-intro1 .btn-booking {
    background: #00bce4!important;
    padding: 15px 30px !important;
    color: #fff !important;
    border: 1px solid #00bce4!important;   
	width:auto;
	font-size: 30px;
    letter-spacing: 1px;
}
.home-intro1 .home-intro-booking {padding: 0 0 60px 0;}

.home-doctors-mobile {display:none; visibility: hidden; height: 0;}
.home-doctors-mobile img {width:100%;}

/**************************
HOME PAGE - DOCTORS PANEL
**************************/
.home-doctors {width: 100%; background: #fff; padding: 80px 0; text-align: left;}
.home-doctors .container {max-width: 1400px;}
.home-doctors-video img {width:100%;}
.home-doctors-video-txt { background:#DDDDDD; color: #474747; font-size:24px; padding:5px 10px; text-align: center; font-weight: 500;}
.home-doctors h2 {color: #00a1bc; font-weight: 500; font-size:40px; margin: 10px 0 20px 20px;}
.home-doctors p {font-size: 24px; color: #474747; padding-bottom: 12px; font-weight: 500; margin-left:20px;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #112649; padding: 80px 0; text-align: center;}
.home-projects .container {max-width: 1920px;}
.home-projects-block {width:70%; margin: auto;}

.home-projects-img {padding: 10px 0;}
.home-projects-hdr {color:#fff; font-size: 58px; position: relative; padding-bottom: 20px; margin-bottom: 40px;}
.home-projects-hdr::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 5px;
    bottom: 0;
    left: 42.5%;
    border-bottom: 2px solid #fff;
}
.home-projects p {color:#fff;}

.home-projects .col-border { border-left: solid 2px #dddddd;}

.home-projects-a, .home-projects-a img,.div-img  {overflow:hidden;}
.home-projects-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.home-projects-a:hover  {color:#f6862d;  overflow:hidden; opacity:0.8;}
.home-projects-a:hover h3 {color: #fff;}
.home-projects-a:hover h4 {color: #fff; }
.home-projects-a:hover .home-projects-txt {/*background: rgba(0,0,0,1.00); padding-bottom: 2px!important;*/} 
.home-projects-a:hover .home-projects-txt-h1, .home-projects-a:hover .home-projects-txt-h2, .home-projects-a:hover .home-projects-txt-h3 {color:#dddddd;}

.home-projects-txt-h1 {color:#ffff; font-size: 26px; font-weight: 600; padding: 30px 0 15px 0;}
.home-projects-txt-h2 {color:#ffff; font-size: 22px; font-weight: 600;}
.home-projects-txt-h3 {color:#ffff; font-size: 18px; font-weight: 500;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
HOME PAGE - CTA PANEL
**************************/
.home-panel-cta {text-align: center; margin:auto; padding: 80px 0;
background: rgb(255,105,3);
background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%);
}
.home-panel-cta .container {max-width: 1400px;}
.home-panel-cta-inner {width:70%; text-align: center; margin: auto; padding: 40px 0 60px 0; max-width: 1920px; }

.home-panel-cta .col-lg-4 { padding: 0;}

.btn-cta {margin: 40px 0 0 0; }
.btn-cta a {text-transform: uppercase!important; padding: 15px 30px; color:#fff; font-size: 30px; font-weight: 600; border: 1px solid #fff; display: inline-block; width:100%;}
.btn-cta a:hover {background: #fff; color:#ff6903; border: 1px solid #fff;}
.btn-cta-mobile {display:none; visibility: hidden; height: 0;}

.home-panel-cta-box {padding: 0 20px; overflow: hidden;}
.home-panel-cta-box h2 {color:#fff; font-size:30px; font-weight: 500; padding: 20px 18% 0 18%;}
.home-panel-cta-box img {}

.home-panel-cta-box1 {background-color: #fff; margin: 0 20px; overflow: hidden;}
.home-panel-cta-box1 h2 {color:#304851; font-size:16px; font-weight: 600; text-transform: uppercase; margin-top: 50px;}
.home-panel-cta-box1 h3 {color:#304851; font-size:33px; font-weight: 600; text-transform: uppercase; padding: 0 20px;}
.home-panel-cta-box1 img {width:100%;
	-webkit-animation: zoominout 20s infinite;
	-moz-animation: zoominout 20s infinite;
	-ms-animation: zoominout 20s infinite;
	-o-animation: zoominout 20s infinite;
	animation: zoominout 20s infinite;
}
.home-panel-cta-box-img {overflow:hidden;}
.home-panel-cta-box-txt {position:relative; bottom:0;}

.home-panel-cta-box1 .btn-cta a {color:#304851; border: 1px solid #304851;}
.home-panel-cta-box1 .btn-cta a:hover {background: #304851; color:#fff; border: 1px solid #304851;}

.home-panel-cta-box2 {background-color: #474747; margin: 0 20px; /*overflow: hidden;*/ height:100%;}
.home-panel-cta-box2 h2 {color:#fff; font-size:16px; font-weight: 600; text-transform: uppercase; margin-top: 50px;}
.home-panel-cta-box2 h3 {color:#fff; font-size:33px; font-weight: 600; text-transform: uppercase; padding: 0 20px;}
.home-panel-cta-box2 img {width:100%;
	-webkit-animation: zoominout 20s infinite;
	-moz-animation: zoominout 20s infinite;
	-ms-animation: zoominout 20s infinite;
	-o-animation: zoominout 20s infinite;
	animation: zoominout 20s infinite;}
.home-panel-cta-box2 .btn-cta a:hover {color:#474747;}

.home-panel-cta-box3 {background-color: #00a1bc; margin: 0 20px; overflow: hidden;}
.home-panel-cta-box3 h2 {color:#fff; font-size:16px; font-weight: 600; text-transform: uppercase; margin-top: 50px;}
.home-panel-cta-box3 h3 {color:#fff; font-size:33px; font-weight: 600; text-transform: uppercase; padding: 0 20px;}
.home-panel-cta-box3 img {width:100%;
	-webkit-animation: zoominout 20s infinite;
	-moz-animation: zoominout 20s infinite;
	-ms-animation: zoominout 20s infinite;
	-o-animation: zoominout 20s infinite;
	animation: zoominout 20s infinite;}
.home-panel-cta-box3 .btn-cta a:hover {color:#00a1bc;}

/* Animate - Zoom In & Out */
@keyframes zoominout {
    0% { transform: scale(1);}
    50%   { transform: scale(1.1); }	
	100%   { transform: scale(1); }	
}

/* Animate - Swing */
.1home-panel-cta-box1:hover, .1home-panel-cta-box2:hover, .1home-panel-cta-box3:hover
{
        -webkit-animation: swingPanel 1s ease;
        animation: swingPanel 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.home-panel-cta-box1:hover, .home-panel-cta-box2:hover, .home-panel-cta-box3:hover {transform: scale(1.05);}

@-webkit-keyframes swingPanel
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swingPanel
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/**************************
HOME PAGE - VIDEO PANEL
**************************/
.homeVideo {width: 80%; max-width: 1500px; margin:auto;}
.homeVideoWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #474747;  overflow: hidden; padding: 60px 0px; }
.homeVideo img {width:100%;}

/**************************
HOME PAGE - LOCATIONS PANEL
**************************/
.home-locations {margin:0; padding: 80px 0 40px 0; color:#fff; text-align: center;
   background: rgb(0,188,228);
   background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); 
}
.home-locations .container {max-width: 1400px;}
.home-locations h2 {padding: 20px 0 20px 0; font-size: 40px; color:#fff; font-weight: 500;}
.home-locations .col-lg-1 {text-align:right;}
.home-locations .col-lg-1 i {font-size:40px;}

.home-locations-img {margin-top: 30px;}
.home-locations-img img {width:100%;}


.parallaxParent {
	height: 400px;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}
	
.parallax-img {width:100%; background-image: url(../../images/site/clinic.jpg); background-repeat: no-repeat; background-size:cover; background-position: center;}
.parallax-img-mod {background-size:100%;}


/**************************
HOME PAGE -  DOUBLE PANEL
**************************/
.home-double-panel {width:100%;}
.home-double-panel .container {max-width: 1500px;}

/**************************
HOME PAGE -  FAQs PANEL
**************************/
.home-faqs {background-color:#fff; margin:0; padding: 80px 0; color:#000; text-align: center;}
.home-faqs .container {max-width: 1500px;}
.home-faqs-divider { border-right: 1px solid #474747;}
.home-faqs h2 {padding: 20px 0 20px 0; text-transform: uppercase; color:#00bce4;font-size: 40px;}
.home-faqs .col-lg-1 {text-align:right;}
.home-faqs .col-lg-1 i {font-size:40px;}

.home-faq-list {padding-left:0; list-style-type: none;}
.home-faq-list li {padding: 3px 0;}
.home-faq-list li a {color:#474747; font-size: 24px; font-weight: 500;}
.home-faq-list li a:hover {color:#00bce4;}
.1home-faq-list li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: f#304851;
    font-size: 11px;
    margin-top: 8px;
	display: inline-block;
	font-weight:900;
	margin-left: 0;
}
.home-faq-list p {font-size: 18px;}

/**************************
HOME PAGE -  ASK THE DOCTOR PANEL
**************************/
.home-askdoctor {background-color:#fff; margin:0; padding: 80px 0; color:#474747; font-size: 24px; font-weight: 500; text-align: center;}
.home-askdoctor .container {max-width: 1500px;}
.home-askdoctor h2 {padding: 20px 0 20px 0; text-transform: uppercase; color:#ff6903;font-size: 40px;}
.home-askdoctor p {padding-bottom: 20px;}
.home-askdoctor .col-lg-1 {text-align:right;}
.home-askdoctor .col-lg-1 i {font-size:40px;}

.btn-askdoctor {margin: 40px 0 0 0;}

.btn-askdoctor a {
    background: #ff6903!important;
    padding: 15px 30px !important;
    color: #fff !important;
    border: 1px solid #ff6903!important;   
	width:auto;
	font-size: 30px;
    letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
}
.btn-askdoctor a:hover {background: #fff!important; color:#ff6903!important; border: 1px solid #ff6903!important;}

/**************************
HOME PAGE -  LINKS PANEL
**************************/
.home-links {background-color:#000; margin:0; padding: 5px 0; color:#000;}
.home-links .container {max-width: 1500px;}
.home-links h2 {margin-bottom: 0; text-transform: uppercase;}

.links-carousel, .links-carousel * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.links-carousel { width: 100% !important; margin: 0 auto; text-align: center;}
.links-carousel img {  background: #000; padding: 10px 20px; margin: 0px; /* height: 75px;*/}
.links-carousel img:first-child { position: static; z-index: 100;}
.links-carousel .cycle-slide  { width: auto!important; height: auto; }

/**************************
INSIDE HEADER
**************************/
.inside-header {background-color: #112649; color:#fff; font-size:50px; text-align: center; padding: 15px 0;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module {height: 100%;  color:#5a5a5a; font-weight: 500; padding: 0 10px;}
.sidebar-module .list-group-item {background-color: inherit; border:none; padding: 10px 0; padding-left: 10px; }
.sidebar-module  h4 {color:#474747; text-transform: uppercase; font-size: 20px; font-weight: 500;} 
.list-group-item.active {background-color: inherit!important;}
.list-group-item.active > a {color:#474747!important;}

.sidebar-module a {color: #5a5a5a; text-decoration: none; font-weight: 500;}
.sidebar-module a:hover {color: #112649;}
.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item.active{ background-color: #e8e8e8; border-color: #e8e8e8; }
.dropdown-item.active{ background-color: inherit; border-color: inherit; }

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:auto;
    width:auto;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
LOCATIONS
**************************/
.home-locations-div {width:100%; color:#474747; padding-bottom: 5px;}
.home-locations-state {display:inline-block; width: 50px; font-weight: 500; color:#fff; font-size:24px; margin-right: 15px;}
.home-locations-name {display:inline-block; padding: 0 2px;}
.home-locations-name a {color:#474747; text-transform: uppercase; font-weight: 500; font-size:24px;}
.home-locations-name a:hover {color:#fff;}

.locations-div {position: relative; padding:0; padding-bottom: 20px;}
.location-div {background-color: #c2e9ef; margin:20px 0; padding:20px; height: 100%;}
.locations-name {color: #0087ae; font-weight: 600; padding: 0px 0 5px 0; font-size: 20px;}
.locations-address {padding-bottom:10px; color: #72a1b2; font-weight: 500; padding-bottom: 5px;}
.locations-address p, .location-address p  {color: #72a1b2; font-weight: 500; padding-bottom: 0px; margin-bottom: 5px;}
.locations-address a {}
.locations-link {position:relative; bottom:0; color: #284863; font-weight: 600; text-transform: uppercase; padding-top: 15px;}
.locations .col-lg-4 {margin-bottom: 50px;}
.locations .col-lg-12 {padding-bottom: 0;}
.location-appointment {padding:10px 0;}
.locations-state {float:right; color: #0087ae; font-weight: 500; padding: 0px 0 5px 0; font-size: 20px;}
.locations-col {padding-bottom:30px;}

.locations-contact {height:100%; padding-bottom: 20px;}
.locations-contact-txt .btn-booking {margin:0px!important;}
.locations-contact-txt:first-of-type {margin-bottom: 40px;}
.locations-contact-txt h2 {color: #0087ae!important; font-weight: 600!important; padding: 0px 0 5px 0!important; font-size: 20px!important;}

.location-side {background: #474747; color:#fff; padding:10px 20px 20px 20px;}
.location-side h2 {color:#fff!important; text-transform: uppercase; font-weight: 600 !important; font-size: 20px !important;}
.locations-map iframe {max-width:100%; width:100%; margin-top: 20px;}
.location-map {/*float:right; margin-left:15px;*/}
.location-map iframe {max-width:100%; width:100%;}
.location-side ul li {color:#fff!important;}
.location-side ul li::before {color:#fff!important;}

.location-address {padding-bottom:10px; color: #284863; font-weight: 500;}
.location-address a { font-weight: 500!important; font-size:17px!important;}
.location-description {padding-top:20px;}
.location-fax {padding-left:30px;}


/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {background: #112649; padding: 10px 25px; color:#fff; font-size: 19px;font-weight: 600; border: none; border-radius: 0;  border: 1px solid #112649; margin-top: 20px;}
.btn-checkout:hover {background: #fff; color:#112649; border: 1px solid #112649;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px; /* Set the fixed height of the footer here (for sticky footer) */  
  text-align: left;
  background: #fff;  
  background-color: #231f20;
  z-index: 0;
}
.footerContacts .container-fluid {padding-right: 0; padding-left:0;}

.footerContactsWrapper {
    width: 100%;
	height: 100%!important;
	max-width: 1920px;
	margin: auto;
	text-align: left;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    height: 350px;
    margin:auto;  
    padding: 70px 0;	
}

.footerContacts {position: relative; z-index: 200;}

.footerContactsWrapperImg { position: absolute; bottom: 35px; width: 100%; height: 100%; z-index: 100;
	background-image: url('../../images/site/bottom-pic.jpg');
    background-repeat: no-repeat; 
    background-position:bottom left; 
	
	opacity: 0;  transition: opacity 10s ease;
}

.footer-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

#footer-social {color: #969696; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-social h2 {font-size:10px; text-transform: uppercase; margin-top: 50px; margin-bottom: 20px;}
#footer-social i {}
#footer-social a, #footer-txt a:active {color: #969696; text-decoration: none; font-size: 20px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000; text-decoration: none;}

.footer-txt {color: #848484; font-size: 14px; font-weight: 600;}
.footer-txt a, #footer-txt a:active, .footer-txt a, .footer-txt a:active {color: #848484; text-decoration: none; font-size: 14px; font-weight: 600;}
.footer-txt a:hover, .footer-txt a:hover{ color: #fff; text-decoration: none;}

#footer-txt-bot {
    color: #474747;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    background: #fff;
    height: 80px;
    padding-top: 5px;
	position: absolute;
    bottom: 0;
	padding-top: 30px;
}
#footer-txt-bot a, #footer-txt-bot a:active, .footer-txt-bot a, .footer-txt-bot a:active {color: #474747; text-decoration: none; font-size: 14px; line-height: 120%; padding: 0 7px; font-weight: 500;}
#footer-txt-bot a:hover, .footer-txt-bot a:hover{ color: #000; text-decoration: none;}

.footer-menu-top-gap {padding-top:30px;}
.footer-menu-top a {font-weight:600; text-transform: uppercase;}

.google-review {padding-top: 30px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {/*border-top: 1px #e8e8e8 solid;*/ margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 10px 0 0 !important; font-size: 16px;}
.pagination li::before{content: none !important;}
.pagination{padding-left: 0 !important;}

.page-item.active .page-link {
    background-color: #112649!important;
    border-color: #112649!important;
}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {
    text-transform: uppercase!important;
    background: #00a1bc!important;
    padding: 7px 15px!important;
    color: #fff!important;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #00a1bc!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0px!important;
    margin-top: 10px;
} /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more:hover {
    background: #fff !important;
    color: #00a1bc !important;
}


.btn-back {width:100%; padding: 20px 0 0 0; font-weight: 600;font-size: 15px !important; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color:#112649;; font-weight: 600; padding-top: 5px; text-decoration: none;}	
.btn-back a:hover {color: #848484!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}
.news-list-item-img img { width: 100%; max-width: 100%; height: auto;}

.news-item {clear:both; padding: 10px 0px; width:100%;}
.news-item-txt {float: left;  width: 65%;  }
.news-item-img {/*float: right;  width: 35%; height: auto; text-align: center; margin: 0;*/ width:100%;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}
.news-item img {max-width: 100%!important; height: auto !important;}
	
.news-newsletter {width:100%; border: #e8e8e8 1px solid;  -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; padding: 5px 10px 10px 10px; margin: 20px 0px;}
.news-newsletter h4 {color:#333366; font-size: 20px; font-weight: 500; text-align: left; border-bottom: 2px dotted #717071; padding-bottom: 10px; margin-bottom: 0px;}
.news-newsletter p {margin: 5px 0; text-align: left;}
.news-newsletter input {width:100%!important; margin-bottom: 10px; font-size: 12px;padding: 0px 5px;}
.news-newsletter button {width:100%!important; padding:4px 0;}


.panel-news-item {width: 100%; /*padding: 0 0 40px 0; */}
.panel-news-item .div-img {width:100%;}
.panel-news-item img {width:100%;}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#f6862d; font-weight: 600; text-transform: uppercase; }
.panel-news-item-title {color:#112649; font-weight: 600; padding: 10px 0 5px 0; font-size: 17px; }
.panel-news-item-shortdesc {color:#72a1b2; font-weight: 300; padding-bottom: 5px; }
.panel-news-item-readmore {color:#284863; font-weight: 600; text-transform: uppercase; padding-top: 5px;}
.panel-news-item-shortdesc p { }
.panel-news-item p {margin-bottom: 0px;}

.panel-news-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-news-item a:hover > div {color:#00a1bc!important;}

.panel-news-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.news-list .card-columns {column-gap: 2rem;}
.news-list .card-columns .card {margin-bottom: 2rem;}
.news-list .card {border:none; border-radius: 0;}
.news-list .card-body {background-color:#c2e9ef;}

.news-item-other {margin-bottom:30px;}
.news-item-other-hdr h2 {font-size: 17px!important;}
.nopadding {padding-left: 0!important; margin: 0 !important; padding-right: 0!important;}

.news-cta .card-body { color:#fff; text-align: center; margin:auto; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); padding: 20px 20px 40px 20px; margin-bottom: 40px;}
.panel-news-cta {width: 100%;}
.panel-news-cta .div-img {/*width:100%;*/ margin: auto;}
.panel-news-cta img {width:50%!important;}
.panel-news-cta-title {color:#fff; font-size: 17px; font-weight: 500;}
.panel-news-cta-button { border: 1px solid #fff; color:#fff; text-transform: uppercase; margin-top:15px; margin-bottom:0px; padding:5px;}
.panel-news-cta-button a {color:#fff!important;}
.panel-news-cta-button:hover {color:#ff6903!important; background: #fff!important;}
.panel-news-cta-button:hover > a {color:#ff6903!important;}

.div-cta-bottom {width:100%;}

.news-cta-bottom {margin-top:20px;}
.div-cta-bottom {width: 100% !important;}
.div-cta-bottom .div-img-bottom {float:left; width:auto!important;}
.div-cta-bottom .div-cta-txt {float: left; text-align: left;}
.div-cta-bottom .div-cta-txt .panel-news-cta-button {width:auto;}
.div-cta-bottom .div-cta-txt .panel-news-cta-button {text-align:center; display: inline-block; padding: 5px 20px;}
.card-body-cta-bottom {margin-bottom: 0 !important; padding: 20px 20px 20px 20px !important; }
.div-cta-bottom .div-img-bottom img {width: 70% !important;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

.faqs h2 {margin-top: 0!important;}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
TEAM MODULE
**************************/

.team-item {   
	
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item .div-img img {width:100%;}
.div-img img {width:100%;}

.team-txt {padding:0; }
.team-name-band-name {color:#00a1bc; font-weight: 600; line-height: 150%; font-size: 25px; padding:10px 0;}
.team-name-band-title {color:#ff6903; line-height: 150%; font-size: 18px; font-weight: 500;}
.team-name-band-role {color:#000; line-height: 150%; font-size: 16px; font-weight: 600;}
.team-name-band-description {color:#5a5a5a; line-height: 150%; font-size: 17px; padding:10px 0 10px; font-weight: 300;}

.team-a {height:100%; padding-right: 100px; padding-top: 10px;}
.team-a  {overflow:hidden; width:60%;}

.team-div-img {border-bottom: 6px solid #989898;}

.1team-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
}

.team-a:hover  {overflow:hidden; /*opacity:0.8;*/}
/* .team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title, .team-a:hover .team-name-band-role {color: #ff6903;} */


.team-list-header {width:100%; border-bottom: 6px solid #ff6903; margin-bottom: 20px;}

.team-list-header-txt {
    float: left;
    max-width: 70%;
    height: 100%;
    position: relative;
    bottom: 0;
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);
}

.team-list-header-img { float: left; max-width: 30%; }
.team-list-header-txt h2 {padding:0!important;}
.team-list-header-txt h3 {padding:0!important;}
.team-list-header-txt h4 {padding:0!important;}

.team-row {margin-left:0; margin-right:0;}

/**************************
PROJECTS MODULE
**************************/
.blog-projects .container {max-width: 1920px;}
.project-list-item {clear:both;  padding: 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 50%; padding-right: 10px; }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}
.project-list-item-txt h2 {padding-top:0!important; padding-bottom:0!important; font-size:16px!important;}
.project-list-item-txt p {line-height: 150%!important; font-size:14px!important; margin-bottom:5px!important;} 

.project-list-border {border-left: 1px solid #c9c9c9;}

.project-list-h1 {color: #112649; font-weight: 600; font-size:20px; padding: 30px 0 15px 0;}
.project-list-h2 {color: #c9c9c9; font-weight: 600; font-size:18px;}
.project-list-h3 {color: #c9c9c9; font-weight: 500; font-size:16px;}

.project-list-item {margin:auto; text-align: center; margin-bottom: 30px; padding: 0 15px;}
.project-list-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.project-list-item a:hover > div {color:#848484!important;}

.project-list-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.project-list-box {position:relative; padding-left: 0 !important; padding-right: 0 !important;}
.links-img-border-box {margin-top:10%;}

.links-img-top-border {border-top: 3px solid #c9c9c9;}
.links-img-left-border {border-left: 1px solid #c9c9c9;}
.links-img-right-border {border-right: 1px solid #c9c9c9; height:80%;}
.links-img-bottom-border {border-bottom: 1px solid #c9c9c9;}

.project-item {clear:both; padding: 30px 0px 50px 0; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 25%; padding-right: 20px;  }
.project-item-img {float: right;  width: 75%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; position: initial!important;} 
.project-item-txt h1 {font-size:16px!important; padding-bottom:0!important;}
.project-item-txt p {line-height: 110%;}
.project-item .btn-back {padding-top:0;}
.projects-more {padding-top:20px;}

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block .container {/*margin:0!important; padding:0!important; width:100%;*/}


@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}

.awards-line {
    background-color: #000;
    width: 100%;
    margin: auto 0;
    display: block;
    height: 35px;
    position: relative;
    top: -35px;
	margin-bottom: -35px;
    z-index: 100;
}

#baguetteBox-overlay .full-image img {width:100%!important; height: auto!important; overflow: hidden!important;}

#carousel-projects {display: block; width: 100%; position: relative; margin-bottom: 50px; top:0;}
#carousel-projects  .carousel-item {max-height: 490px; overflow: hidden; width:100%;}

#carousel-projects .carousel-indicators {bottom: -50px!important;}
#carousel-projects .carousel-indicators li {background-color: #fff!important;}

#carousel-projects .carousel-indicators li {
  width: 13px;
  height: 13px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 100%; border: 2px solid #000;
  list-style-type: none;
}

#carousel-projects .carousel-indicators .active {background-color: #000!important;}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.cards-project .col-lg-5 { flex: 0 0 46.666667%; max-width: 46.666667%;}
.cards-project .col-lg-2 { flex: 0 0 6.666667%; max-width: 6.666667%;} 

.project-value {font-size:14px; line-height: 150%; padding-bottom: 10px;}
.project-value p {font-size:14px!important;}
.project-value-spacer {height:.3rem;}

#carousel-projects .carousel-indicators li::before {color:#fff;}

/**************************
EXTRAS
**************************/
@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {	
	body {margin-bottom: 1100px;}
	header {height: 40px!important;}
	
	.blog-post {padding: 10px!important;}
	.navbar-nav {top: 40px!important;}
	.navbar-top {width:100%; position: initial}
	.navbar-logo {position: relative; /*top: 15px!important;*/}
	.navbar-logo img {width:40%;}
	.navbar-contacts {top: -75px!important; width: 100%; text-align: center;}
	.custom-toggler {top: 40px!important; right: 20px!important;}	
	.custom-toggler {right:auto!important; position: absolute!important; top: 30px!important; left: 20px!important;}
	.navbar-custom {height:90px!important;}
	
	.home-intro h2 {font-size: 18px;}
	.home-intro h1 {font-size:24px;}
	.home-intro p {font-size:16px;}

	.inside-page {overflow: inherit;}
	.inside-page .carousel-item {/*height: 150px!important;*/ height:auto;}
	.inside-page .carousel-item > img {/*top: 70px!important;  margin-bottom: 70px!important;}
	.carousel-item {/*height: 300px!important;*/}
	.carousel-item > img {/*height: 300px!important;*/ /*top: 70px!important;*/}
	.carousel-caption-inside {top: 175px!important;}	
	.carousel-caption { /*padding: 10px 10px!important;*/}
	
	.affix {height: 80px !important;}
	.affix .navbar-nav {top: 18px!important;}
	.affix .navbar-top {top: -2px!important;}
	.affix .navbar-logo {/*top: 10px!important;*/ position: relative;}
	.affix .navbar-logo img {width: 30%!important; height:auto!important; /*top: 10px!important;*/}	
	.affix .custom-toggler {/*top: 32px!important;*/}
	.affix .navbar-collapse {top: 30px !important;}	
	
	footer {height: auto!important;} 
	.footerContactsWrapper {margin-bottom: 16px!important;}
	#footer-txt-bot {font-size:12px; padding-top: 0px;}
	#footer-txt-bot a, #footer-txt-bot a:active, .footer-txt-bot a, .footer-txt-bot a:active {font-size:11px; padding: 0 2px; color: #969696;}	
	.footerContactsWrapperImg {bottom: 16px;}
	
	.card-columns {column-count: 1!important;}
		
	.carousel-caption-inner {padding: 0px 2%!important;}
	.carousel-caption { /*top: 12%!important;*/ padding-top: 90px;}
	.carousel-item { height: 700px!important;}
	
	#footer-social h2 { font-size: 12px!important;}
	#footer-social a { padding: 0 10px!important;}		
		
	.team-list-header-txt {-webkit-transform: none;  -ms-transform: none; transform: none; }
	.team-a {padding-bottom:40px;}		
	
	.team-list-header-txt {max-width: 100%; -webkit-order: 1; order: 1; flex:none!important; }
	.team-list-header-img {max-width: 100%; -webkit-order: 2; order: 2; flex:none!important; }	
	
	.project-list-box {border-bottom: 1px solid #c9c9c9;}
	.links-img-top-border, .links-img-left-border {border:none!important;}
	.project-list-box-none {border:none!important; height:0;}
	.inside-header {font-size:25px!important; padding:7px 0!important;}
	
	.home-projects-block {width:90%;}
	.home-projects {padding:50px 0 0 0;}
	.home-projects-hdr {font-size:30px!important; margin-bottom: 0px;}
	.home-projects-hdr::before {width: 30%; left: 35%;}
	.home-projects-txt-h1 {font-size:20px;}
	.home-projects-txt-h2 {font-size:18px;}
	.home-projects-txt-h3 {font-size:16px;}
}

@media only screen and  (max-width: 991px) {
	body {margin-bottom:auto;}
    .blog-sidebar {width: 100%!important; max-width: 100%!important; padding: 0!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main {width: 100%; padding: 0px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 0px;}
	.blog-masthead {padding:10px 0 0 0; }
	.blog-masthead .container {/*padding: 30px 0px;*/}
	
	header {height: 120px;}
	video {width:auto; height:100%;}
	
	.navbar-custom { padding:0!important; height: 170px;}
	.navbar-logo {position: absolute; top:30px; width: 100%; text-align: center; padding:0;}
	.navbar-logo img {margin:auto; width: 35%; max-width: 100% !important;}
	.navbar-top {top: -35px; position: relative;}	
	.custom-toggler { position: absolute!important; top: 30px!important; left: 20px;}
    
	.custom-toggler {/*position: absolute; top: 100px; right: 5px;*/}
	.navbar-custom .navbar-nav .nav-link {font-size:16px!important;}	
	.navbar-nav {background: rgba(255,255,255,0.95); position: relative; top: 80px;}
	.btco-hover-menu a, .navbar > li > a {text-align: center;}	
	.mr-auto, .mx-auto {right:inherit;  /*overflow-y: scroll; */ padding-left:0!important;}
	.navbar-collapse {top: inherit !important; position: fixed; width: 100%; top: 30px; bottom: inherit; right: 0; border:none;}	
	.navbar-nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		background: #fff;
        border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}
	.nav-link {text-align: center;border:none!important;}
	.btco-hover-menu li a:hover {border:none!important;}
	.mr-auto li a {border:none!important;}
	.dropdown-menu {display:block!important; text-align: center;position: initial!important; margin-left: 0!important;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-left:0!important; padding-right:0!important; margin-left:0!important; margin-right:0!important;}
	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover { background: #112649; color: #fff !important;}
	.slide-img {visibility: hidden; display: none; height:0;}
	.slide-img-resp {visibility: visible; display: block; height:auto;}
	
	.contact-phone-resp {display:block; visibility: visible; height:auto; position: absolute; top: 30px; right: 20px;}
	
	#slider {display:block!important; visibility: visible!important; height:0!important;}
	#slider-mobile {display:block!important; visibility: visible!important; min-height:400px!important;}

	
	.carousel-item {/*height: 1145px;*/ /*height: 500px;*/ height:auto!important;}
	.carousel-item > img {width:100%; height: auto;/* right: 0!important; left:inherit!important; top:120px; */ bottom:0; text-align: center; margin: auto; left: 0; right: 0; top:0; position: relative;}
	.carousel-caption {width: 100%; /*padding: 20px 10px;*/ top: 13%; left:0; position: absolute; top:0px;}
	.carousel-caption-h1 {font-size: 40px; text-align: center; padding-bottom: 10px; }
	.carousel-caption-h2 {/*font-size: 18px;*/ text-align: center;}
	.carousel-caption-cta-dbl {text-align: center; margin-bottom: 40px;}
	.carousel-caption-cta-1, .carousel-caption-cta-2 {/*font-size: 18px; padding: 10px 20px;*/}
	.carousel-control-next-icon, .carousel-control-prev-icon {position: relative; top: 50px;}
	.carousel-indicators li {width: 10px; height: 10px;}
	.carousel-indicators {bottom: -5px;}
	.carousel-control-next-icon, .carousel-control-prev-icon {width: 20px; height: 20px;}
	.carousel-caption-cta {text-align: center; display: inline-flex;}		
	.carousel-caption-inside { width: 100%;padding: 10px; top:50%;}
	.carousel-caption-inner {width:100%; padding: 40px 5%;}
	.carousel-caption-cta {margin-top:0px; }
	.carousel-item .h-100 {height: auto!important; margin-left:0!important; display: block;}
		
	.inside-page .carousel-caption-h1 {text-align:left;}
	.inside-page .carousel-item > img {width:100%; height: auto; bottom:0; text-align: center; margin: auto; left: 0; right: 0; /*top: 120px; margin-bottom: 120px; */ position: relative; }
	
	.affix { height: 100px;}
	.affix .navbar-logo { top: -10px; position: absolute;}	
	.affix .navbar-logo img {height: 30px!important; width:auto!important; top: 0px; position: relative; left:inherit;}
	.affix .custom-toggler {top: 10px!important; }
	.affix .contact-phone-resp {top: 13px!important;}
	.affix .navbar-contacts a { font-size: 23px;}
	.affix .navbar-contacts a i {font-size: 18px;}	
	.affix .navbar-collapse {border:none!important;}
	.affix .navbar-nav {top:25px;}
	
	.home-projects-hdr {font-size:40px;}
	.home-projects .col-border {border-left:none;}
	.home-projects-a-first {border-top:none!important;padding: 0;}
	.home-projects-a {border-top: solid 2px #dddddd; padding: 50px 0;}
	
	.home-intro h2 {padding-top: 0;}
	.home-intro {padding: 40px 10px 40px 10px;}
		
	.footer-logo {width:100%;}
	#footer-txt-bot {height:auto; padding-top: 0px;}
	.footerContactsWrapper {text-align: center;}
	#footer-social {text-align: center; margin-bottom: 20px;}
	#footer-social a {padding: 0 20px;}
	.footerContactsWrapper {padding-top:30px; /*margin-bottom: 35px;*/}
	.footerContactsWrapperImg {background-size: 50%;}
	.footerContacts .container-fluid .row {/*padding-bottom: 100px;*/}
	.footerContacts .container-fluid .row .col-lg-2 {margin-top: 10px;}
	.footer-menu-top-gap {padding-top: 10px;}
	#footer-social h2 {margin-top: 30px;}	
	
	.container .blog-post .btn-booking {text-align: center;}	
	.container .blog-post ul li::before, .ticks ul li::before {left: 17px;}
	
	.team-a {width:100%; padding-right: inherit;}
	.div-img {width:100%; text-align: center; margin: auto;}
	.project-list-box {padding:0!important;}
	.project-list-item {width:90%;}
	.project-list-h1 {font-size:18px; padding:15px 0;}
	.project-list-h2 {font-size:16px;}
	.project-list-h3 {font-size:14px;}
	.card-columns {column-count: 2;}
		
	.footer {height:auto; position:inherit;}
	.footerContactsWrapper {padding:40px 0;}
	
	.footer-menu-top, .footer-menu {display: none; visibility: hidden; height: 0;}
	#footer-txt-bot {position:relative; background-color: #dddddd;}
	#footer-social h2 {font-size:16px;}
	#footer-social a, #footer-txt a:active {font-size:20px;}
	.footer-txt {padding: 20px 0;}
	
	.team-list-header-img img {width:100%;}		
	.inside-header {font-size:30px;}
		
	.project-item { width: 100%; padding: 10px 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}
	.project-item-txt {width:100%; float:none; display: block; -webkit-order: 1; order: 1;flex: auto;}
	.project-item-img {width:100%; float:none; display: block; -webkit-order: 2; order: 2;flex: auto;}
	.panel-news-item {padding: 20px 0px!important;}	
	.project-item .btn-back {padding-bottom:20px;}		
	
	.slide-img {visibility: hidden; display: none; height:0;}
	.slide-img-resp {visibility: visible; display: block; height:auto;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
	footer {height: auto!important;}	
	._navbar-logo {top:20px!important; position: relative;}	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */	
	._navbar-logo {position: absolute!important; top:20px!important; left:10px!important;} 
	._navbar-logo img {width:50%;}	
	._navbar-collapse {bottom: 10px; right: 10px;}
    .navbar-collapse { border: none;}
	
	.affix .navbar-toggler {top:17px;}
	
	#footer-txt a, #footer-txt a:active, .footer-txt a, .footer-txt a:active {padding:0;}
	.footer-logo {width:100%;}
	.navbar-expand-lg .navbar-nav .nav-link { margin: 0 35px!important}
	.navbar-expand-lg .navbar-nav .nav-link { padding-left: 15px; padding-right: 15px; font-size: 16px;}
	.footer-txt {text-align: center; padding: 15px 0;}
	.footerContactsWrapper {padding:50px 0;}
	
	.carousel-item { height: 700px;}
	.carousel-item > img {    max-height: 550px;}
	video {width:auto; height:100%;}	
}

@media only screen and (max-width: 568px)and (orientation:landscape) {
	/* For iphone 5  landscape layouts only */
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1900px) {	
}


@media only screen and (min-device-width: 769px) and (max-width: 1800px) {		
}

@media only screen and (min-device-width: 769px) and (max-width: 1750px) {
	.dropdown-menu {margin-left: 0px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1650px) {				
}

@media only screen and (min-device-width: 769px) and (max-width: 1550px) {			
	.navbar-top {top:0;}	
	.navbar-collapse {/*right:0; top:-8px;*/}	
	.mr-auto, .mx-auto {right:0; padding-left: 30px;}				
}

@media only screen and (min-device-width: 769px) and (max-width: 1400px) {						
}


@media only screen and (min-device-width: 769px) and (max-width: 1200px) {
	.navbar-expand-lg .navbar-nav .nav-link {margin: 0 45px;}	
	
	.footer-txt {text-align: center; padding: 15px 0;}
	.footerContactsWrapper {padding:50px 0;}
}

@media only screen and (min-device-width: 769px) and (max-width: 900px) {    
	.carousel-caption-h2 { visibility: hidden!important; display: none!important; height:0!important;}	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
   
    /* Safari 5+ ONLY */    
	::i-block-chrome, #nav { }	
}