.project-block-container, .project-main-container{
  max-width: 1500px;
}

.project-list-box{
  max-width: 20%;
}

@media (max-width: 575.98px) {
  .project-list-box{
    max-width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .project-list-box{
    max-width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .project-list-box{
    max-width: 33% !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .project-list-box{
    max-width: 25% !important;
  }
}

@media (min-width: 1200px) {

}